.tutangle-real {
  width: 50%;
  height: 100%;
  float: left;
}
.tutangle-real img {
  width: 100%;
  height: 100%;
}
.tutangle-lofi {
  width: 50%;
  height: 100%;
  float: left;
}
.tutangle-lofi img {
  width: 100%;
  height: 100%;
}
.Youtube-real {
    width: 50%;
    height: 100%;
    float: left;
  }
  .Youtube-real img {
    width: 100%;
    height: 75%;
  }
  .Youtube-lofi {
    width: 50%;
    height: 100%;
    float: left;
  }
  .Youtube-lofi img {
    width: 100%;
    height: 1Youtube  
