.mainSliderBtn {
  margin: 0 10px;
  box-shadow: 0 0 10px 0 rgb(34 60 80 / 30%);
  background-color: white;
  background-image: url("../../assets/icons/previous.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 100%;
  height: 48px;
  opacity: 1;
  padding: 0;
  transition: 0.6s ease;
  width: 48px;
  z-index: 999;
}
.mainSliderBtn:hover {
  cursor: pointer;
}
.paginationIndicators {
  margin: 10px 0 0 0;
}
.paginationBtn:hover {
  cursor: pointer;
}
.sliderNavigation {
  position: relative;
  margin-right: 10px;
}
.heroContentWrapper {
  width: 80%;
  background: rgba(255, 255, 255, 0.72);
  padding: 12.14%;
  position: absolute;
  top: 50px;
  z-index: 1;
  backdrop-filter: blur(5px);
  left: 5%;
  box-sizing: border-box;
}
.heroContent h1 {
  font-size: 30px;
}
.heroContent p {
  padding: 16px 0 48;
  color: #898989;
  line-height: 150%;
}
.shopNowBtn {
  width: 145px;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
}
.shopNowBtn:hover {
  cursor: pointer;
}
.mainImageCarouselWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.imageCarouselContent {
  width: 2802px;
  transform: translate3d(-26.77%, 0px, 0px);
}
.mainCarouselItem {
  width: 28.8%;
  margin: 10px;
}
.sofa-overlay {
  display: none;
}
.featuresList {
  padding-left: 7.421%;
}
.featuresList li {
  float: left;
  list-style: none;
  margin-right: 3.38%;
}
.featureItemContainer p {
  font-size: 16px;
  color: #898989;
  font-family: gilroy;
  font-weight: 500;
  line-height: 24px;
}
f .featureIcon-Container img {
  margin-right: 24px;
}

.productDesc-Container {
  text-align: left;
}
.productItem {
  position: relative;
  margin: 32px;
  background-color: #f4f5f7;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgb(34 60 80 / 20%);
}

.productItemImage img {
  width: 100%;
}
.productDesc-Container {
  height: auto;
  /* padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 50px;
  padding-right: 16px;
  box-sizing: border-box; */
}
.productTitle {
  font-size: 24px;
  font-weight: 600;
  padding-top: 8px;
  padding-left: 16px;
}
.productDesc-Container p {
  margin: 15px 0 0 0;
  box-sizing: border-box;
}
.productDesc {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  padding-top: 8px;
  padding-left: 16px;
}
.productPrice {
  font-size: 18px;
  font-weight: 600;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 20px;
}
.products__price_old {
  bottom: 15px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #b0b0b0;
  text-decoration: line-through;
}
.discountContainer {
  position: absolute;
  right: 24;
  top: 24;
}
.discountContainer p {
  font-weight: 500;
  padding-top: 13px;
}
.overLayContent {
  position: absolute;
  display: none;
  width: 100%;
  top: 39.23%;
}
.overlayButton {
  width: 70.8%;
  height: 48px;
  color: #e89f71;
  background: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.shareLikeWrapper {
  margin-top: 24px;
  width: 100%;
}
.shareLikeWrapper img {
  margin-right: 8px;
}

.shareLikeWrapper span {
  float: left;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.share {
  margin-left: 19%;
}
.share,
.like:hover {
  cursor: pointer;
}
.like {
  margin-right: 22%;
}
.showMore {
  width: 61%;
  height: 48px;
  cursor: pointer;
  color: #e89f71;
  border-color: #e89f71;
  background: none;
  /* padding: 12px 82px; */
}
/* insiration section */
.inspiration {
  text-align: center;
  background: #fcf8f3;
  margin-top: 44px;
  padding: 35px;
}

.exploreBtn {
  width: 176px;
  height: 48px;
}
.exploreBtn:hover {
  cursor: pointer;
  background-color: white;
  color: #e89f71;
  border: 1px solid #e89f71;
}
.leftArticle h2 {
  font-size: 30px;
}
.leftArticle p {
  font-size: 14px;
  color: #616161;
  padding: 10px;
}
.rightArticle {
  display: none;
}
.rightContent {
  display: none;
}
/* ----------------------- */

.tipsCarouselWrapper {
  width: 300%;
  transform: translate3d(-33.5%, 0px, 0px);

  /* overflow: hidden; */
}
.tipsTitle {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}
.tipsDesc {
  font-size: 14px;
  color: #898989;
}
.tips {
  text-align: center;
  margin-top: 44px;
  position: relative;
  overflow: hidden;
}

.tipsItem {
  width: 29%;
  text-align: left;
  position: relative;
  margin: 2%;

  /* float: left; */
}
.tipsItem:hover {
  cursor: pointer;
}
.tipsImage img {
  width: 100%;
}
.tipsDescContainer {
  padding-left: 16px;
  padding-top: 16px;
}
.tipsDescContainer p {
  padding-top: 8px;
  padding-bottom: 10px;
}
.activeTipItem {
  /* background-color: #f4f5f7; */
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(34 60 80 / 30%);
}
.tipsBtn {
  box-shadow: 0 0 10px 0 rgb(34 60 80 / 30%);
  background-color: white;
  background-image: url("../../assets/icons/previous.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 100%;
  height: 48px;
  opacity: 1;
  padding: 0;
  position: absolute;
  transition: 0.6s ease;
  width: 48px;
  top: 50%;

  z-index: 999;
}
.previousTip {
  left: 2%;
}
.room-overlay {
  display: none;
}
.nextTip {
  right: 2%;
  transform: rotate(-180deg);
}
.tipsPagination {
  margin-left: 35%;
}
/* Furnitures section */
.furnitureHeading {
  text-align: center;
}

.furnitureTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.furnitureHashtag {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  padding: 8px 0 16px 0;
}

.block-2 {
  padding: 16px 16px;
}

.subblock-2 {
  padding-top: 16px;
}

.furnitureImage1 {
  width: 33%;
}

.furnitureImage2 {
  width: 65%;
  padding-top: 16.67%;
}

.furnitureImage3 {
  width: 49%;
}

.furnitureImage4 {
  width: 49%;
}

.furnitureImage6 {
  width: 67%;
  padding-top: 18%;
}

.furnitureImage7 {
  width: 31%;
}

.furnitureImage8 {
  width: 40%;
}

.furnitureImage9 {
  width: 58%;
}
