@media only screen and (min-width: 359px) {
  header {
    height: 104px;
  }
  .search {
    display: block;
  }
  .navRightContent li:last-child {
    margin: 0 14px 0 0;
  }
}
@media only screen and (min-width: 600px) {
  .footerCopyright {
    float: right;
    padding: 0 14px 0 0;
  }
  .footerMenu {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    margin-top: 28px;
  }
  .mainWrapper {
    float: left;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }

  header {
    height: 85px;
  }
  .logoImgDiv {
    float: left;
  }
  .logoContainer {
    width: 582px;
    float: left;
  }
  .logoContainer div a img {
    max-width: 223px;
  }
  .search {
    float: right;
    margin-top: 38px;
  }
  .userDetails {
    position: relative;
    text-align: right;
    float: right;
    right: 14px;
    padding: 15px 0px;
  }
  .navHamburger {
    display: none;
  }
  .navMenu {
    display: block;
  }

  .rightmenubar {
    height: 605px;
    width: 177px;
    background-color: #f5f5f5;
    margin-right: 14px;
  }

  .navMenu li {
    margin-right: 15px;
    margin-left: 15px;
  }
  /* .footerCopyright {
    padding: 18px 0 0 7px;
  } */
}
@media only screen and (min-width: 1002px) {
  .menubar {
    display: block;
  }
  .container {
    width: 939px;
  }
  .logoContainer {
    margin-left: 0;
  }
  .mainContent {
    float: right;
  }
  .navMenu li {
    margin-left: 0px;
    margin-right: 30px;
  }
  .footerMenu ul li {
    margin: 0px 14px 0 0;
  }
}
