.logoContainer {
  width: 92%;
  height: 100%;
  margin-left: 15px;
  float: left;
}
.logoContainer div a img {
  max-width: 150px;
}
.userDetails {
  text-align: right;
  float: right;
  position: absolute;
  right: 0;
  padding: 14px 15px 0 0;
}
.userDetails ul li {
  display: inline-block;
  border-right: 2px solid black;
  padding: 0px 4px;
}
.userDetails ul li:last-child {
  border: none;
  padding: 0;
}
.navMenu {
  float: left;
  display: none;
}

nav ul li {
  display: inline-block;
}
.navHamburger {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin: 2px 0 0 14px;
}
.navMenu li {
  margin: 0 26px 0 11px;
}

.navMenu li:hover {
  cursor: pointer;
}
.navRightContent {
  float: right;
}
.navRightContent li:last-child {
  margin: 0 14px 0 0;
}

.navRightContent li:first-child {
  margin-right: 15px;
}

.navRightContent img {
  margin-right: 5px;
}

.navRightContent span {
  position: relative;
  bottom: 2px;
}
.main ul li {
  list-style: none;
  padding: 10px 13px;
}
.main ul li:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.menubar li span:first-child {
  width: 152px;
}
.sideMenuHeading {
  color: #ffffff;
  background-color: #2fc1da;
  padding: 12px 0px;
}

.sideMenuHeading h2 {
  /* font-size: 14px; */
  margin-left: 13px;
}
.entriesContainer {
  width: 100%;
  border-bottom: 2px solid #2fc1da;
}
.entriesItem {
  position: relative;
}
.entriesItem .heading {
  text-align: center;
  margin-top: 9px;
}

.entries-leftItem {
  width: 49%;
  height: 66px;
  background: url("../assets/topLeftRoundedCorner.png");
  background-size: 100% 100%;
}
.entriesSubItem-Container {
  width: 96%;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 2%;
  right: 2%;
}
.entriesSubItem-Container .active {
  background: url("../assets/blueBox.png");
  background-size: 100% 100%;
  color: #ffffff;
}

.entriesSubItem-Container a {
  color: #000000;
  font-size: 0.6rem;
  text-decoration: none;
}
.entriesSubItem-Container .active a {
  color: #ffffff;
  text-decoration: none;
}

.entriesSubItem {
  width: 49%;
  height: 28px;
  background: url("../assets/greyBox.png");
  background-size: 100% 100%;
  font-weight: bold;
  position: relative;
}
.entriesSubItem:hover {
  cursor: pointer;
  background: url("../assets/blueBox.png");
  background-size: 100% 100%;
  color: #ffffff;
}

.entriesSubItem div {
  margin-top: 9px;
  text-align: center;
  font-size: 11px;
}
.entries-rightItem {
  width: 49%;
  height: 66px;
  background: url("../assets/topRightRoundedCorner.png");
  background-size: 100% 100%;
}
.post {
  width: 100%;
  /* height: 72px; */
  padding: 14px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.post a {
  text-decoration: none;
  color: #000000;
}

.post a:hover {
  border-bottom: 1px solid #000000;
}

.post div:first-child {
  margin-right: 8px;
}

.post p {
  font-size: 11px;
  margin: 2px 0px;
}

.post h2:hover {
  cursor: pointer;
}
/* .post h5 {
  font-size: 0.8rem;
} */
.postDetails {
  width: 75%;
}
.rightmenubar li {
  padding: 12px 0px;
}

.search button {
  width: 54px;
  height: 20px;
  font-weight: bold;
  border: none;
  font-size: 9px;
  color: white;
  background: url("../assets/searchButton.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search button:hover {
  cursor: pointer;
}
.logoContainer input {
  width: 242px;
  height: 20px;
  padding: 9px;
  border: none;
  background: url("../assets/searchBar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #869497;
  font-size: 12px;
}
/* .search {
  margin-top: 30px;
} */
.search div > img:hover {
  cursor: pointer;
}
footer {
  font-size: 10px;
}

footer ul li {
  display: inline-block;
  margin: 0px 7px;
}
footer a {
  color: #ffffff;
}

footer a:hover {
  border-bottom: 1px solid #ffffff;
}
.footerCopyright {
  margin: 14px 0 0 7px;
}
