.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
  image-rendering: pixelated;
  position: relative;
  height: 100vh;
}
.game-wrapper canvas {
  display: block;
  image-rendering: pixelated;
  margin: auto;
  height: 100vh;
}

.game-status-indicator {
  position: absolute;
  width: 100%;
  top: 2%;
}
.game-status-indicator .health {
  top: 0;
  left: 3%;
  align-items: center;
  position: absolute;
  width: 5%;
  display: flex;
  /* font-family: slug;
  color: #ebedea;
  font-size: 100px; */
}
.game-status-indicator .health span {
  font-family: slug;
  margin-left: 1rem;
  color: #fbeef0;
  font-size: 6rem;
}
