.footerContentWrapper h5 {
  font-weight: 700;
}
.footerContentsList li {
  list-style: none;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  padding-top: 16px;
}
.footerContentsList li:hover {
  cursor: pointer;
}
.subscriptionInput input {
  background: #f4f5f7;
  width: 144px;
  padding: 13px;
  border: hidden;
}
.update-button {
  border: none;
  background-color: #e89f71;
  padding: 10px;
}
.update-button img {
  width: 24px;
}

.subscriptionWrapper {
  margin-top: 16px;
}
